* {
  transition: all 0.2s;
}
body {
  background-color: #3c4252;
  color: white;
  font-family: '微软雅黑';
}
.dashboard {
  width: 800px;
  margin: 100px auto;
}
.dashboard .dashitem {
  text-align: center;
  vertical-align: center;
  font-size: 28px;
  cursor: pointer;
}
.dashboard .dashitem .glyphicon {
  font-size: 128px;
  color: #00D2CA;
  margin: 0 auto;
}
.dashboard .dashitem .dashitem-title {
  border-radius: 5px;
  padding: 0 6px 6px 6px;
}
.dashboard .dashitem:hover .glyphicon {
  color: #e71e62;
  text-shadow: 1px 1px 3px black;
}
.dashboard .dashitem:hover .dashitem-title {
  background-color: #e71e62;
  box-shadow: 1px 1px 3px black;
}
.log {
  margin-top: 30px;
  color: black;
}
.log .panel-body {
  height: 230px;
  overflow: scroll;
}
.modal {
  color: black;
}
#todoDialog .modal-dialog {
  margin: 130px auto;
}
#todoDialog .modal-body {
  height: 250px;
  overflow: scroll;
}
#annoDialog .modal-body {
  height: 550px;
  overflow: scroll;
}
#annoDialog .list-group-item {
  padding: 3px 15px;
}
#flowerDialog .modal-dialog {
  margin: 2px auto;
}
#flowerDialog .modal-dialog .modal-body {
  height: 745px;
  padding: 0px;
  overflow: hidden;
}
footer {
  color: #999;
  text-align: center;
}
